<h1>Shit You Need To Do</h1>
<br />
<p><%= link_to 'New Todo', new_todo_path %></p>
<% @todos.each do |todo| %>
  <h2><%= todo.task %></h2>
  <%= link_to 'View', todo_path(todo) %>
  <%= link_to 'Edit', edit_todo_path(todo) %>
  <%= link_to 'Delete', todo, method: :delete %>
<% end %>
